a {
	all: unset;
}
a:hover {
	all: unset;
}

#crown {
	animation: blinking 1s infinite;
}

#phantom {
	background: linear-gradient(
		90deg,
		rgba(255, 81, 146, 1) 0%,
		rgba(170, 43, 198, 1) 25%,
		rgba(71, 0, 158, 1) 50%,
		rgba(4, 163, 196, 1) 75%,
		rgba(0, 255, 201, 1) 100%
	);
	background-clip: text;
	color: transparent;
	animation: gradient 8s infinite;
	background-size: 400% 400%;
}

#nhuquynh {
	background: linear-gradient(
		90deg,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 25%,
		rgba(238, 174, 202, 1) 75%,
		rgba(148, 187, 233, 1) 100%
	);
	background-clip: text;
	color: transparent;
	background-size: 400% 400%;
	animation: gradient 8s infinite;
}

#link-icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes blinking {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
